.verifyText{
    text-align: center;
    font-size: 24px;
    color: #20A8D8;
    
}
.resetPasswordSuccesDiv{
    color: #20A8D8;
}
.resetPasswordSuccesDiv h1{
    font-size: 34px;
    margin-bottom: 30px;
}
.resetPasswordSuccesDiv p{
    font-size: 24px;
    margin-bottom: 30px;
}
.resetPasswordSuccesDiv img{
    margin-bottom: 30px;
}