.perms_div .perms_group{
    min-height: 234px;
    padding: 0px;
    border: 1px solid #eee;
    overflow: hidden;
    margin-bottom: 15px;
    transition: all .3s ease-in-out;
}
.perms_div .perms_group:hover{
    transform: translate(0px,-5px);
    box-shadow: 3px 3px 8px #ddd;
}
.perms_div .perms_group .head{
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    text-align: center;
    padding: 5px;
    color: #20A8D8;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 1px 3px 8px #ddd;

}
.perms_div .perms_group .switch{
    vertical-align: middle;
}
.perms_div .perms_group .form-group{
    color: #666;
    font-size: 18px;
}

.staffSuccesDiv{
    text-align: center;
    margin-top: 30px;
    color: #20A8D8;
}
.staffSuccesDiv h1{
    font-size: 34px;
    margin-bottom: 30px;
}
.staffSuccesDiv p{
    font-size: 24px;
    margin-bottom: 30px;
}
.staffSuccesDiv img{
    margin-bottom: 30px;
}