//media mixin
@mixin m($width) {
    @media(max-width:#{$width}px) {
        @content;
    }
}
// Lang mixin
@mixin en {
    html[dir="ltr"] & {
        @content;
    }
}
@mixin ar {
    html[dir="rtl"] & {
        @content;
    }
}

.staffSuccesDiv{
    text-align: center;
    margin-top: 30px;
    color: #20A8D8;
}
.staffSuccesDiv h1{
    font-size: 34px;
    margin-bottom: 30px;
}
.staffSuccesDiv p{
    font-size: 24px;
    margin-bottom: 30px;
}
.staffSuccesDiv img{
    margin-bottom: 30px;
}

.promos .modal_details .title{
    min-width: 0px !important;
    padding-right: 15px;
}

.react-datetime-picker{
    width: 100%;
}
.react-datetime-picker__wrapper{
    width: 100%;
    height: 50px;
    border: 1.5px solid #ccc;
    border-radius: 10px;
    padding: 12px 15px;
    font-size: 20px;
}

.dateInputgroup{
    margin-bottom: 15px;
}
.formLable{
    font-size: 20px;
    margin: 0px;
    padding: 0px 15px;
    /* font-weight: bold; */
    color: #666;
}
.formGroupSwitch{
    font-size: 18px;

}
.switch{
    vertical-align: middle;
}